<mobi-ui-header-major/>

<section>
  <div class="mobi-ui-container mobi-ui-margin-t-lg">
    <div class="mobi-ui-grid">
      <div class="mobi-ui-col-1/2">
        <div class="mobi-ui-card-major">First card</div>
      </div>
      <div class="mobi-ui-col-1/2">
        <div class="mobi-ui-card-major"
             [mobiUiOverlay]="someOverlay"
             [mobiUiOverlayCloseOnBackdropClick]="false"
             [mobiUiOverlayCloseOnEscKeydown]="false"
        >Click me to open the overlay</div>
      </div>
    </div>
  </div>

</section>


<ng-template #someOverlay let-overlay>
  <mobi-ui-overlay-major
    size="md"
    [overlay]="overlay"
    [showCloseOverlayButton]="true"
    [autoFocusCloseOverlayButton]="false"
  >
    <router-outlet />
  </mobi-ui-overlay-major>
</ng-template>

